/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Raleway', sans-serif; */

p,
h1,
h2,
h3 {
  margin: 0px;
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 100%;
}

header {
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 1;
}

header img {
  width: 250px;
}

#restaurants {
  margin-top: 64px;
}

.main-card-area {
  max-width: 1440px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.sort-box {
  /* border: 1px dashed salmon; */
  margin-top: 88px;
  /* max-width: 1225px;
  width: 100%; */
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sort-box p {
  margin-right: 16px;
  font-weight: 600;
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}

.sort-button {
  padding: 8px 16px 8px 16px;
  background-color: rgba(0,0,0,0.07);
  border-radius: 100px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  border: none;
  margin-right: 8px;
}

.sort-button:hover {
  background-color: rgba(0,0,0,0.05);
  cursor: pointer;
}

.chevron {
  font-size: 20px;
  line-height: 1px;
  display: none;
}

.card-main {
  width: 100%;
  height: 250px;
  /* border: 1px dashed hotpink; */
  margin-bottom: 40px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  padding-bottom: 16px;
  max-width: 295px;
  display: flex;
  flex-direction: column;
}

.card-image {
  height: 140px;
  position:relative;
  z-index: 0;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden
}

.card-image img {
  flex-shrink:0;
  min-width:100%;
  min-height:100%;
  width: 100%;
}

.card-info {
  /* border: 1px dashed yellowgreen; */
  padding-top: 15px;
  padding-bottom: 12px;
  flex-grow: 1;
}

.card-info p {
  font-size: 14px;
  color: rgba(0,0,0,0.75);
}

.card-additional-info {
  /* border: 1px dashed salmon; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.link-container {
  flex-grow: 1; 
}

.displaying-amount {
  color: rgba(0,0,0,0.4);
  text-align: center;
  margin-bottom: 80px;
}

.info-small-box {
  color: rgba(0, 0, 0, 0.65);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0px 6px;
  margin-right: 8px;
  height: 27px;
  font-size: 14px;
}

.info-small-box p {
  margin: 0;
}

h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 19px;
  margin-bottom: 4px;
}

footer {
  width: 100%;
  height: 300px;
  background-color: black;
  color: white;
  padding: 72px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer * {
  margin-bottom: 8px;
}

footer .img-github {
  margin-bottom: 0;
  margin-right: 8px;
}

footer p {
  opacity: 0.7;
}

.p-webmasters {
  margin-left: 8px;
  opacity: 1;
}

.footer-logo {
  width: 230px;
}

a {
  text-decoration: inherit; /* no underline */
  color: inherit;
}

a:hover {
  color: #5FB709;
  opacity: 0.85;

}

.loading-spinner {
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #5FB709;
	border-radius: 50%;
  animation: loadingspin 0.8s linear infinite;
  margin: 0 auto;
  margin-top: 64px;
}

@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}


@media (min-width: 667px) and (max-width: 1024px) {
  .main-card-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  
}

@media (min-width: 1025px) {
  .main-card-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  
}

@media (min-width: 390px ) {

  .chevron {
    display: contents;
  }
}